body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, #f2f5f1 , #00c6ff, #0072ff);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.ss {
    
    text-align: center;
}
