/* styles.css */

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd; /* Garis luar tabel */
  }
  
  th, td {
    border: 1px solid #ddd; /* Garis antar sel */
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  